# Venture Funding with Deep Learning

You work as a risk management associate at Alphabet Soup, a venture capital firm. Alphabet Soup’s business team receives many funding applications from startups every day. This team has asked you to help them create a model that predicts whether applicants will be successful if funded by Alphabet Soup.

The business team has given you a CSV containing more than 34,000 organizations that have received funding from Alphabet Soup over the years. With your knowledge of machine learning and neural networks, you decide to use the features in the provided dataset to create a binary classifier model that will predict whether an applicant will become a successful business. The CSV file contains a variety of information about these businesses, including whether or not they ultimately became successful.

## Instructions:

The steps for this challenge are broken out into the following sections:

* Prepare the data for use on a neural network model.

* Compile and evaluate a binary classification model using a neural network.

* Optimize the neural network model.

### Prepare the Data for Use on a Neural Network Model 

Using your knowledge of Pandas and scikit-learn’s `StandardScaler()`, preprocess the dataset so that you can use it to compile and evaluate the neural network model later.

Open the starter code file, and complete the following data preparation steps:

1. Read the `applicants_data.csv` file into a Pandas DataFrame. Review the DataFrame, looking for categorical variables that will need to be encoded, as well as columns that could eventually define your features and target variables.   

2. Drop the “EIN” (Employer Identification Number) and “NAME” columns from the DataFrame, because they are not relevant to the binary classification model.
 
3. Encode the dataset’s categorical variables using `OneHotEncoder`, and then place the encoded variables into a new DataFrame.

4. Add the original DataFrame’s numerical variables to the DataFrame containing the encoded variables.

> **Note** To complete this step, you will employ the Pandas `concat()` function that was introduced earlier in this course. 

5. Using the preprocessed data, create the features (`X`) and target (`y`) datasets. The target dataset should be defined by the preprocessed DataFrame column “IS_SUCCESSFUL”. The remaining columns should define the features dataset. 

6. Split the features and target sets into training and testing datasets.

7. Use scikit-learn's `StandardScaler` to scale the features data.

### Compile and Evaluate a Binary Classification Model Using a Neural Network

Use your knowledge of TensorFlow to design a binary classification deep neural network model. This model should use the dataset’s features to predict whether an Alphabet Soup&ndash;funded startup will be successful based on the features in the dataset. Consider the number of inputs before determining the number of layers that your model will contain or the number of neurons on each layer. Then, compile and fit your model. Finally, evaluate your binary classification model to calculate the model’s loss and accuracy. 
 
To do so, complete the following steps:

1. Create a deep neural network by assigning the number of input features, the number of layers, and the number of neurons on each layer using Tensorflow’s Keras.

> **Hint** You can start with a two-layer deep neural network model that uses the `relu` activation function for both layers.

2. Compile and fit the model using the `binary_crossentropy` loss function, the `adam` optimizer, and the `accuracy` evaluation metric.

> **Hint** When fitting the model, start with a small number of epochs, such as 20, 50, or 100.

3. Evaluate the model using the test data to determine the model’s loss and accuracy.

4. Save and export your model to an HDF5 file, and name the file `AlphabetSoup.h5`. 

### Optimize the Neural Network Model

Using your knowledge of TensorFlow and Keras, optimize your model to improve the model's accuracy. Even if you do not successfully achieve a better accuracy, you'll need to demonstrate at least two attempts to optimize the model. You can include these attempts in your existing notebook. Or, you can make copies of the starter notebook in the same folder, rename them, and code each model optimization in a new notebook. 

> **Note** You will not lose points if your model does not achieve a high accuracy, as long as you make at least two attempts to optimize the model.

To do so, complete the following steps:

1. Define at least three new deep neural network models (the original plus 2 optimization attempts). With each, try to improve on your first model’s predictive accuracy.

> **Rewind** Recall that perfect accuracy has a value of 1, so accuracy improves as its value moves closer to 1. To optimize your model for a predictive accuracy as close to 1 as possible, you can use any or all of the following techniques:
>
> * Adjust the input data by dropping different features columns to ensure that no variables or outliers confuse the model.
>
> * Add more neurons (nodes) to a hidden layer.
>
> * Add more hidden layers.
>
> * Use different activation functions for the hidden layers.
>
> * Add to or reduce the number of epochs in the training regimen.

2. After finishing your models, display the accuracy scores achieved by each model, and compare the results.

3. Save each of your models as an HDF5 file.

In [76]:
# Imports
import pandas as pd
from pathlib import Path
import tensorflow as tf
from tensorflow.keras.layers import Dense
from tensorflow.keras.models import Sequential
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler,OneHotEncoder

---

## Prepare the data to be used on a neural network model

### Step 1: Read the `applicants_data.csv` file into a Pandas DataFrame. Review the DataFrame, looking for categorical variables that will need to be encoded, as well as columns that could eventually define your features and target variables.

In [77]:
# Read the applicants_data.csv file from the Resources folder into a Pandas DataFrame
applicant_data_path = Path('Resources/applicants_data.csv')
applicant_data_df = pd.read_csv(applicant_data_path)

# Review the DataFrame
applicant_data_df

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1
...,...,...,...,...,...,...,...,...,...,...,...,...
34294,996009318,THE LIONS CLUB OF HONOLULU KAMEHAMEHA,T4,Independent,C1000,ProductDev,Association,1,0,N,5000,0
34295,996010315,INTERNATIONAL ASSOCIATION OF LIONS CLUBS,T4,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
34296,996012607,PTA HAWAII CONGRESS,T3,CompanySponsored,C2000,Preservation,Association,1,0,N,5000,0
34297,996015768,AMERICAN FEDERATION OF GOVERNMENT EMPLOYEES LO...,T5,Independent,C3000,ProductDev,Association,1,0,N,5000,1
34298,996086871,WATERHOUSE CHARITABLE TR,T3,Independent,C1000,Preservation,Co-operative,1,1M-5M,N,36500179,0

In [78]:
# Review the data types associated with the columns
applicant_data_df.dtypes

EIN                        int64
NAME                      object
APPLICATION_TYPE          object
AFFILIATION               object
CLASSIFICATION            object
USE_CASE                  object
ORGANIZATION              object
STATUS                     int64
INCOME_AMT                object
SPECIAL_CONSIDERATIONS    object
ASK_AMT                    int64
IS_SUCCESSFUL              int64
dtype: object

### Step 2: Drop the “EIN” (Employer Identification Number) and “NAME” columns from the DataFrame, because they are not relevant to the binary classification model.

In [79]:
# Drop the 'EIN' and 'NAME' columns from the DataFrame
applicant_data_df = applicant_data_df.drop(['EIN', 'NAME'], axis = 1)
# Review the DataFrame
applicant_data_df.head()

,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

### Step 3: Encode the dataset’s categorical variables using `OneHotEncoder`, and then place the encoded variables into a new DataFrame.

In [80]:
# Create a list of categorical variables 
categorical_variables = list(applicant_data_df.dtypes[applicant_data_df.dtypes == 'object'].index)

# Display the categorical variables list
categorical_variables

['APPLICATION_TYPE',
 'AFFILIATION',
 'CLASSIFICATION',
 'USE_CASE',
 'ORGANIZATION',
 'INCOME_AMT',
 'SPECIAL_CONSIDERATIONS']

In [81]:
# Create a OneHotEncoder instance
enc = OneHotEncoder(sparse = False)

In [82]:
# Encode the categorcal variables using OneHotEncoder
encoded_data = enc.fit_transform(applicant_data_df[categorical_variables])

In [83]:
# Create a DataFrame with the encoded variables
encoded_df = pd.DataFrame(encoded_data,
                          columns = enc.get_feature_names(categorical_variables))

# Review the DataFrame
encoded_df.head()

,APPLICATION_TYPE_T10,APPLICATION_TYPE_T12,APPLICATION_TYPE_T13,APPLICATION_TYPE_T14,APPLICATION_TYPE_T15,APPLICATION_TYPE_T17,APPLICATION_TYPE_T19,APPLICATION_TYPE_T2,APPLICATION_TYPE_T25,APPLICATION_TYPE_T29,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0

### Step 4: Add the original DataFrame’s numerical variables to the DataFrame containing the encoded variables.

> **Note** To complete this step, you will employ the Pandas `concat()` function that was introduced earlier in this course.

In [84]:
applicant_data_df = applicant_data_df.drop(columns = categorical_variables)
applicant_data_df

       STATUS   ASK_AMT  IS_SUCCESSFUL
0           1      5000              1
1           1    108590              1
2           1      5000              0
3           1      6692              1
4           1    142590              1
...       ...       ...            ...
34294       1      5000              0
34295       1      5000              0
34296       1      5000              0
34297       1      5000              1
34298       1  36500179              0

[34299 rows x 3 columns]

In [85]:
# Add the numerical variables from the original DataFrame to the one-hot encoding DataFrame
encoded_df = pd.concat(
    [applicant_data_df,
     encoded_df
    ],
    axis = 1)

# Review the Dataframe
encoded_df.head()

,STATUS,ASK_AMT,IS_SUCCESSFUL,APPLICATION_TYPE_T10,APPLICATION_TYPE_T12,APPLICATION_TYPE_T13,APPLICATION_TYPE_T14,APPLICATION_TYPE_T15,APPLICATION_TYPE_T17,APPLICATION_TYPE_T19,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1,5000,1,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1,1,108590,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2,1,5000,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
3,1,6692,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
4,1,142590,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0

# Step 5: Using the preprocessed data, create the features (`X`) and target (`y`) datasets. The target dataset should be defined by the preprocessed DataFrame column “IS_SUCCESSFUL”. The remaining columns should define the features dataset.

In [86]:
# Define the target set y using the IS_SUCCESSFUL column
y = encoded_df['IS_SUCCESSFUL']

# Display a sample of y
y

0        1
1        1
2        0
3        1
4        1
        ..
34294    0
34295    0
34296    0
34297    1
34298    0
Name: IS_SUCCESSFUL, Length: 34299, dtype: int64

In [87]:
# Define features set X by selecting all columns but IS_SUCCESSFUL
X = encoded_df.drop(columns=['IS_SUCCESSFUL'])
# Review the features DataFrame
# YOUR CODE HERE
X

,STATUS,ASK_AMT,APPLICATION_TYPE_T10,APPLICATION_TYPE_T12,APPLICATION_TYPE_T13,APPLICATION_TYPE_T14,APPLICATION_TYPE_T15,APPLICATION_TYPE_T17,APPLICATION_TYPE_T19,APPLICATION_TYPE_T2,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1,5000,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1,1,108590,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2,1,5000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
3,1,6692,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
4,1,142590,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34294,1,5000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
34295,1,5000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
34296,1,5000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
34297,1,5000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
34298,1,36500179,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0

### Step 6: Split the features and target sets into training and testing datasets.

In [88]:
# Split the preprocessed data into a training and testing dataset
# Assign the function a random_state equal to 1
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state = 1)

### Step 7: Use scikit-learn's `StandardScaler` to scale the features data.

In [89]:
# Create a StandardScaler instance
scaler = StandardScaler()

# Fit the scaler to the features training dataset
scaler.fit(X_train)

# Fit the scaler to the features training dataset
X_train_scaled = scaler.transform(X_train)
X_test_scaled = scaler.transform(X_test)

X_test_scaled.shape

(8575, 116)

---

## Compile and Evaluate a Binary Classification Model Using a Neural Network

### Step 1: Create a deep neural network by assigning the number of input features, the number of layers, and the number of neurons on each layer using Tensorflow’s Keras.

> **Hint** You can start with a two-layer deep neural network model that uses the `relu` activation function for both layers.

In [90]:
# Define the the number of inputs (features) to the model
number_input_features = 116

# Review the number of features
number_input_features

116

In [91]:
# Define the number of neurons in the output layer
number_output_neurons = 1

In [92]:
# Define the number of hidden nodes for the first hidden layer
hidden_nodes_layer1 =  8

# Review the number hidden nodes in the first layer
hidden_nodes_layer1

8

In [93]:
# Define the number of hidden nodes for the second hidden layer
hidden_nodes_layer2 =  4

# Review the number hidden nodes in the second layer
hidden_nodes_layer2

4

In [95]:
# Create the Sequential model instance
nn = Sequential()

In [96]:
# Add the first hidden layer
nn.add(Dense(units=hidden_nodes_layer1, input_dim=number_input_features, activation="relu"))

In [97]:
# Add the second hidden layer
nn.add(Dense(units=hidden_nodes_layer2, activation="relu"))

In [98]:
# Add the output layer to the model specifying the number of output neurons and activation function
nn.add(Dense(units=1, activation="linear"))

In [99]:
# Display the Sequential model summary
nn.summary()

Model: "sequential_3"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_12 (Dense)            (None, 8)                 936

 dense_13 (Dense)            (None, 4)                 36

 dense_14 (Dense)            (None, 1)                 5

=================================================================
Total params: 977
Trainable params: 977
Non-trainable params: 0
_________________________________________________________________

### Step 2: Compile and fit the model using the `binary_crossentropy` loss function, the `adam` optimizer, and the `accuracy` evaluation metric.

In [100]:
# Compile the Sequential model

nn.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [101]:
# Fit the model using 50 epochs and the training data
deep_net_model = nn.fit(X_train_scaled, y_train, epochs=100)

Epoch 1/100
804/804 [==============================] - 2s 2ms/step - loss: 2.1869 - accuracy: 0.5958
Epoch 2/100
804/804 [==============================] - 1s 2ms/step - loss: 1.4374 - accuracy: 0.6780
Epoch 3/100
804/804 [==============================] - 1s 2ms/step - loss: 1.3327 - accuracy: 0.6920
Epoch 4/100
804/804 [==============================] - 1s 2ms/step - loss: 1.5907 - accuracy: 0.6709
Epoch 5/100
804/804 [==============================] - 1s 2ms/step - loss: 1.5214 - accuracy: 0.6829
Epoch 6/100
804/804 [==============================] - 1s 2ms/step - loss: 1.1497 - accuracy: 0.6922
Epoch 7/100
804/804 [==============================] - 1s 2ms/step - loss: 1.0172 - accuracy: 0.7110
Epoch 8/100
804/804 [==============================] - 1s 2ms/step - loss: 1.0092 - accuracy: 0.7147
Epoch 9/100
804/804 [==============================] - 1s 2ms/step - loss: 1.0002 - accuracy: 0.7166
Epoch 10/100
804/804 [==============================] - 1s 2ms/step - loss: 0.9400 - accuracy: 0.7013
Epoch 11/100
804/804 [==============================] - 1s 2ms/step - loss: 0.8547 - accuracy: 0.7179
Epoch 12/100
804/804 [==============================] - 1s 2ms/step - loss: 0.8413 - accuracy: 0.7176
Epoch 13/100
804/804 [==============================] - 1s 2ms/step - loss: 0.8267 - accuracy: 0.7204
Epoch 14/100
804/804 [==============================] - 1s 2ms/step - loss: 0.8206 - accuracy: 0.7209
Epoch 15/100
804/804 [==============================] - 1s 2ms/step - loss: 0.8228 - accuracy: 0.7216
Epoch 16/100
804/804 [==============================] - 1s 2ms/step - loss: 0.8115 - accuracy: 0.7227
Epoch 17/100
804/804 [==============================] - 1s 2ms/step - loss: 0.8246 - accuracy: 0.7169
Epoch 18/100
804/804 [==============================] - 1s 2ms/step - loss: 0.7963 - accuracy: 0.7251
Epoch 19/100
804/804 [==============================] - 1s 2ms/step - loss: 0.7967 - accuracy: 0.7203
Epoch 20/100
804/804 [==============================] - 1s 2ms/step - loss: 0.7572 - accuracy: 0.7223
Epoch 21/100
804/804 [==============================] - 1s 2ms/step - loss: 0.7519 - accuracy: 0.7234
Epoch 22/100
804/804 [==============================] - 1s 2ms/step - loss: 0.7146 - accuracy: 0.7185
Epoch 23/100
804/804 [==============================] - 1s 2ms/step - loss: 0.7074 - accuracy: 0.7263
Epoch 24/100
804/804 [==============================] - 1s 2ms/step - loss: 0.6951 - accuracy: 0.7276
Epoch 25/100
804/804 [==============================] - 1s 2ms/step - loss: 0.6939 - accuracy: 0.7249
Epoch 26/100
804/804 [==============================] - 1s 2ms/step - loss: 0.6824 - accuracy: 0.7268
Epoch 27/100
804/804 [==============================] - 1s 2ms/step - loss: 0.6803 - accuracy: 0.7290
Epoch 28/100
804/804 [==============================] - 1s 2ms/step - loss: 0.6817 - accuracy: 0.7280
Epoch 29/100
804/804 [==============================] - 1s 2ms/step - loss: 0.6801 - accuracy: 0.7297
Epoch 30/100
804/804 [==============================] - 1s 2ms/step - loss: 0.6838 - accuracy: 0.7250
Epoch 31/100
804/804 [==============================] - 1s 2ms/step - loss: 0.6933 - accuracy: 0.7299
Epoch 32/100
804/804 [==============================] - 1s 2ms/step - loss: 0.6938 - accuracy: 0.7233
Epoch 33/100
804/804 [==============================] - 1s 2ms/step - loss: 0.6858 - accuracy: 0.7255
Epoch 34/100
804/804 [==============================] - 1s 2ms/step - loss: 0.6758 - accuracy: 0.7301
Epoch 35/100
804/804 [==============================] - 1s 2ms/step - loss: 0.6771 - accuracy: 0.7293
Epoch 36/100
804/804 [==============================] - 1s 2ms/step - loss: 0.6781 - accuracy: 0.7283
Epoch 37/100
804/804 [==============================] - 1s 2ms/step - loss: 0.6773 - accuracy: 0.7298
Epoch 38/100
804/804 [==============================] - 1s 2ms/step - loss: 0.6760 - accuracy: 0.7307
Epoch 39/100
804/804 [==============================] - 1s 2ms/step - loss: 0.6774 - accuracy: 0.7287
Epoch 40/100
804/804 [==============================] - 1s 2ms/step - loss: 0.6842 - accuracy: 0.7307
Epoch 41/100
804/804 [==============================] - 1s 2ms/step - loss: 0.6806 - accuracy: 0.7303
Epoch 42/100
804/804 [==============================] - 1s 2ms/step - loss: 0.6882 - accuracy: 0.7300
Epoch 43/100
804/804 [==============================] - 1s 2ms/step - loss: 0.6835 - accuracy: 0.7293
Epoch 44/100
804/804 [==============================] - 1s 2ms/step - loss: 0.6810 - accuracy: 0.7298
Epoch 45/100
804/804 [==============================] - 1s 2ms/step - loss: 0.6805 - accuracy: 0.7303
Epoch 46/100
804/804 [==============================] - 1s 2ms/step - loss: 0.6770 - accuracy: 0.7316
Epoch 47/100
804/804 [==============================] - 1s 2ms/step - loss: 0.6770 - accuracy: 0.7310
Epoch 48/100
804/804 [==============================] - 1s 2ms/step - loss: 0.6748 - accuracy: 0.7282
Epoch 49/100
804/804 [==============================] - 1s 2ms/step - loss: 0.6660 - accuracy: 0.7313
Epoch 50/100
804/804 [==============================] - 1s 2ms/step - loss: 0.6647 - accuracy: 0.7299
Epoch 51/100
804/804 [==============================] - 1s 2ms/step - loss: 0.6734 - accuracy: 0.7313
Epoch 52/100
804/804 [==============================] - 1s 2ms/step - loss: 0.6705 - accuracy: 0.7298
Epoch 53/100
804/804 [==============================] - 1s 2ms/step - loss: 0.6690 - accuracy: 0.7304
Epoch 54/100
804/804 [==============================] - 1s 2ms/step - loss: 0.6633 - accuracy: 0.7308
Epoch 55/100
804/804 [==============================] - 1s 2ms/step - loss: 0.6629 - accuracy: 0.7306
Epoch 56/100
804/804 [==============================] - 1s 2ms/step - loss: 0.6644 - accuracy: 0.7302
Epoch 57/100
804/804 [==============================] - 1s 2ms/step - loss: 0.6694 - accuracy: 0.7278
Epoch 58/100
804/804 [==============================] - 1s 2ms/step - loss: 0.6633 - accuracy: 0.7317
Epoch 59/100
804/804 [==============================] - 1s 2ms/step - loss: 0.6643 - accuracy: 0.7309
Epoch 60/100
804/804 [==============================] - 1s 2ms/step - loss: 0.6746 - accuracy: 0.7187
Epoch 61/100
804/804 [==============================] - 1s 2ms/step - loss: 0.6653 - accuracy: 0.7293
Epoch 62/100
804/804 [==============================] - 1s 2ms/step - loss: 0.6644 - accuracy: 0.7307
Epoch 63/100
804/804 [==============================] - 1s 2ms/step - loss: 0.6635 - accuracy: 0.7301
Epoch 64/100
804/804 [==============================] - 1s 2ms/step - loss: 0.6641 - accuracy: 0.7311
Epoch 65/100
804/804 [==============================] - 1s 2ms/step - loss: 0.6703 - accuracy: 0.7312
Epoch 66/100
804/804 [==============================] - 1s 2ms/step - loss: 0.6630 - accuracy: 0.7325
Epoch 67/100
804/804 [==============================] - 1s 2ms/step - loss: 0.6653 - accuracy: 0.7313
Epoch 68/100
804/804 [==============================] - 1s 2ms/step - loss: 0.6640 - accuracy: 0.7311
Epoch 69/100
804/804 [==============================] - 1s 2ms/step - loss: 0.6632 - accuracy: 0.7313
Epoch 70/100
804/804 [==============================] - 1s 2ms/step - loss: 0.6646 - accuracy: 0.7300
Epoch 71/100
804/804 [==============================] - 1s 2ms/step - loss: 0.6775 - accuracy: 0.7218
Epoch 72/100
804/804 [==============================] - 1s 2ms/step - loss: 0.6685 - accuracy: 0.7303
Epoch 73/100
804/804 [==============================] - 1s 2ms/step - loss: 0.6643 - accuracy: 0.7304
Epoch 74/100
804/804 [==============================] - 1s 2ms/step - loss: 0.6681 - accuracy: 0.7285
Epoch 75/100
804/804 [==============================] - 1s 2ms/step - loss: 0.6697 - accuracy: 0.7279
Epoch 76/100
804/804 [==============================] - 1s 2ms/step - loss: 0.6661 - accuracy: 0.7299
Epoch 77/100
804/804 [==============================] - 1s 2ms/step - loss: 0.6628 - accuracy: 0.7294
Epoch 78/100
804/804 [==============================] - 1s 2ms/step - loss: 0.6631 - accuracy: 0.7310
Epoch 79/100
804/804 [==============================] - 1s 2ms/step - loss: 0.6622 - accuracy: 0.7310
Epoch 80/100
804/804 [==============================] - 1s 2ms/step - loss: 0.6632 - accuracy: 0.7308
Epoch 81/100
804/804 [==============================] - 1s 2ms/step - loss: 0.6658 - accuracy: 0.7307
Epoch 82/100
804/804 [==============================] - 1s 2ms/step - loss: 0.6638 - accuracy: 0.7317
Epoch 83/100
804/804 [==============================] - 1s 2ms/step - loss: 0.6649 - accuracy: 0.7317
Epoch 84/100
804/804 [==============================] - 1s 2ms/step - loss: 0.6622 - accuracy: 0.7315
Epoch 85/100
804/804 [==============================] - 1s 2ms/step - loss: 0.6663 - accuracy: 0.7313
Epoch 86/100
804/804 [==============================] - 1s 2ms/step - loss: 0.6844 - accuracy: 0.7274
Epoch 87/100
804/804 [==============================] - 1s 2ms/step - loss: 0.6906 - accuracy: 0.7284
Epoch 88/100
804/804 [==============================] - 1s 2ms/step - loss: 0.6512 - accuracy: 0.7322
Epoch 89/100
804/804 [==============================] - 1s 2ms/step - loss: 0.6472 - accuracy: 0.7311
Epoch 90/100
804/804 [==============================] - 1s 2ms/step - loss: 0.6437 - accuracy: 0.7315
Epoch 91/100
804/804 [==============================] - 1s 2ms/step - loss: 0.6444 - accuracy: 0.7304
Epoch 92/100
804/804 [==============================] - 1s 2ms/step - loss: 0.6438 - accuracy: 0.7319
Epoch 93/100
804/804 [==============================] - 1s 2ms/step - loss: 0.6472 - accuracy: 0.7324
Epoch 94/100
804/804 [==============================] - 1s 2ms/step - loss: 0.6453 - accuracy: 0.7291
Epoch 95/100
804/804 [==============================] - 1s 2ms/step - loss: 0.6392 - accuracy: 0.7311
Epoch 96/100
804/804 [==============================] - 1s 2ms/step - loss: 0.6400 - accuracy: 0.7302
Epoch 97/100
804/804 [==============================] - 2s 2ms/step - loss: 0.6489 - accuracy: 0.7262
Epoch 98/100
804/804 [==============================] - 1s 2ms/step - loss: 0.6414 - accuracy: 0.7302
Epoch 99/100
804/804 [==============================] - 1s 2ms/step - loss: 0.6414 - accuracy: 0.7305
Epoch 100/100
804/804 [==============================] - 1s 2ms/step - loss: 0.6401 - accuracy: 0.7316

### Step 3: Evaluate the model using the test data to determine the model’s loss and accuracy.

In [102]:
# Evaluate the model loss and accuracy metrics using the evaluate method and the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled, y_test, verbose=2)

# Display the model loss and accuracy results
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 0s - loss: 0.6342 - accuracy: 0.7270 - 382ms/epoch - 1ms/step
Loss: 0.6341813802719116, Accuracy: 0.7269970774650574

### Step 4: Save and export your model to an HDF5 file, and name the file `AlphabetSoup.h5`.

In [103]:
# Set the model's file path
file_path = Path('Resources/AlphabetSoup.h5')

# Export your model to a HDF5 file
nn.save(file_path)

---

## Optimize the neural network model

### Step 1: Define at least three new deep neural network models (resulting in the original plus 3 optimization attempts). With each, try to improve on your first model’s predictive accuracy.

> **Rewind** Recall that perfect accuracy has a value of 1, so accuracy improves as its value moves closer to 1. To optimize your model for a predictive accuracy as close to 1 as possible, you can use any or all of the following techniques:
>
> * Adjust the input data by dropping different features columns to ensure that no variables or outliers confuse the model.
>
> * Add more neurons (nodes) to a hidden layer.
>
> * Add more hidden layers.
>
> * Use different activation functions for the hidden layers.
>
> * Add to or reduce the number of epochs in the training regimen.

### Alternative Model 1

In [104]:
# Define the the number of inputs (features) to the model
number_input_features = len(X_train.iloc[0])

# Review the number of features
number_input_features

116

In [105]:
# Define the number of neurons in the output layer
number_output_neurons_A1 = 1

In [116]:
# Define the number of hidden nodes for the first hidden layer
hidden_nodes_layer1_A1 = number_output_neurons_A1 + 12 // 2
hidden_nodes_layer2_A1 = hidden_nodes_layer1_A1 // 2
# Review the number of hidden nodes in the first layer
print(f'{hidden_nodes_layer1_A1}, {hidden_nodes_layer2_A1}')

7, 3

In [117]:
# Create the Sequential model instance
nn_A1 = Sequential()

In [118]:
# First hidden layer
nn_A1.add(Dense(units=hidden_nodes_layer1_A1, input_dim=number_input_features, activation="relu"))
# Second hidden Layer
nn_A1.add(Dense(units=hidden_nodes_layer2_A1, activation="relu"))


# Output layer
nn_A1.add(Dense(units=1, activation="linear"))

# Check the structure of the model
nn_A1.summary()

Model: "sequential_5"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_16 (Dense)            (None, 7)                 819

 dense_17 (Dense)            (None, 3)                 24

 dense_18 (Dense)            (None, 1)                 4

=================================================================
Total params: 847
Trainable params: 847
Non-trainable params: 0
_________________________________________________________________

In [119]:
# Compile the Sequential model
nn_A1.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [120]:
# Fit the model using 50 epochs and the training data
fit_model_A1 = nn.fit(X_train_scaled, y_train, epochs=10)

Epoch 1/10
804/804 [==============================] - 1s 2ms/step - loss: 0.6370 - accuracy: 0.7318
Epoch 2/10
804/804 [==============================] - 1s 2ms/step - loss: 0.6380 - accuracy: 0.7329
Epoch 3/10
804/804 [==============================] - 1s 2ms/step - loss: 0.6396 - accuracy: 0.7322
Epoch 4/10
804/804 [==============================] - 1s 2ms/step - loss: 0.6413 - accuracy: 0.7306
Epoch 5/10
804/804 [==============================] - 1s 2ms/step - loss: 0.6464 - accuracy: 0.7311
Epoch 6/10
804/804 [==============================] - 1s 2ms/step - loss: 0.6418 - accuracy: 0.7313
Epoch 7/10
804/804 [==============================] - 1s 2ms/step - loss: 0.6402 - accuracy: 0.7316
Epoch 8/10
804/804 [==============================] - 1s 2ms/step - loss: 0.6384 - accuracy: 0.7319
Epoch 9/10
804/804 [==============================] - 1s 2ms/step - loss: 0.6371 - accuracy: 0.7337
Epoch 10/10
804/804 [==============================] - 1s 2ms/step - loss: 0.6398 - accuracy: 0.7323

#### Alternative Model 2

In [121]:
# Define the the number of inputs (features) to the model
number_input_features = len(X_train.iloc[0])

# Review the number of features
number_input_features

116

In [122]:
# Define the number of neurons in the output layer
number_output_neurons_A2 = 1

In [123]:
# Define the number of hidden nodes for the first hidden layer
hidden_nodes_layer1_A2 = number_output_neurons_A1 + 1 // 2

# Review the number of hidden nodes in the first layer
hidden_nodes_layer1_A2

1

In [127]:
# Create the Sequential model instance
nn_A2 = Sequential()

In [129]:
# First hidden layer
nn_A2.add(Dense(units=hidden_nodes_layer1_A2, input_dim=number_input_features, activation="relu"))

# Output layer
nn_A2.add(Dense(units=1, activation="linear"))

# Check the structure of the model
nn_A2.summary()

Model: "sequential_6"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_21 (Dense)            (None, 1)                 117

 dense_22 (Dense)            (None, 1)                 2

 dense_23 (Dense)            (None, 1)                 2

=================================================================
Total params: 121
Trainable params: 121
Non-trainable params: 0
_________________________________________________________________

In [130]:
# Compile the model
nn_A2.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [131]:
# Fit the model
fit_model_A2 = nn_A2.fit(X_train_scaled, y_train, epochs=5)

Epoch 1/5
804/804 [==============================] - 1s 1ms/step - loss: 8.2288 - accuracy: 0.4665
Epoch 2/5
804/804 [==============================] - 1s 1ms/step - loss: 8.2288 - accuracy: 0.4665
Epoch 3/5
804/804 [==============================] - 1s 1ms/step - loss: 8.2288 - accuracy: 0.4665
Epoch 4/5
804/804 [==============================] - 1s 1ms/step - loss: 8.2288 - accuracy: 0.4665
Epoch 5/5
804/804 [==============================] - 1s 1ms/step - loss: 8.2288 - accuracy: 0.4665

### Step 2: After finishing your models, display the accuracy scores achieved by each model, and compare the results.

In [132]:
print("Original Model Results")

# Evaluate the model loss and accuracy metrics using the evaluate method and the test data

model_loss, model_accuracy = nn.evaluate(X_test_scaled, y_test, verbose=2)

# Display the model loss and accuracy results
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

Original Model Results
268/268 - 0s - loss: 0.6611 - accuracy: 0.7287 - 274ms/epoch - 1ms/step
Loss: 0.6611444354057312, Accuracy: 0.7287463545799255

In [133]:
print("Alternative Model 1 Results")

# Evaluate the model loss and accuracy metrics using the evaluate method and the test data
model_loss, model_accuracy = nn_A1.evaluate(X_test_scaled, y_test, verbose=2)

# Display the model loss and accuracy results
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

Alternative Model 1 Results
268/268 - 0s - loss: 6.7936 - accuracy: 0.4729 - 401ms/epoch - 1ms/step
Loss: 6.7935614585876465, Accuracy: 0.4728862941265106

In [134]:
print("Alternative Model 2 Results")

# Evaluate the model loss and accuracy metrics using the evaluate method and the test data
model_loss, model_accuracy = nn_A2.evaluate(X_test_scaled, y_test, verbose=2)

# Display the model loss and accuracy results
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

Alternative Model 2 Results
268/268 - 1s - loss: 8.1631 - accuracy: 0.4708 - 646ms/epoch - 2ms/step
Loss: 8.163082122802734, Accuracy: 0.4707871675491333

### Step 3: Save each of your alternative models as an HDF5 file.

In [135]:
# Set the file path for the first alternative model
file_path = Path('Resources/nn_A1.h5')

# Export your model to a HDF5 file
nn_A1.save(file_path)

In [136]:
# Set the file path for the second alternative model
file_path = Path('Resources/nn_A2.h5')

# Export your model to a HDF5 file
nn_A2.save(file_path)